h1{
    color: white;
}

body{
    background-color: #FCA6C9;
}

header{
    /* border: 1px solid black; */
    /* margin: 0 100px 0 100px; */
    text-align: center;
    /* width: 400px; */
}
p{
    color: white;
    /* border: 1px solid black; */
    font-size: 14px;
    line-height: 1.5;
    margin: 0 auto;
    text-align: center;
    width: 520px;
}
#list{
    /* border: 1px solid black; */
    margin: 0 auto;
    width: 375px;
}
#center{
    text-align: center;
}